<header class="">
    <div class="container">
    <h1>Gossipmongo</h1>
        <p>Scraping the latest Hollywood gossip from the infamous LaineyGossip website.</p>

    <nav class="button-group navbar d-flex justify-content-start">
        <a href="/"><button class="btn p-2 mr-2">Home</button></a>
        <button class="btn p-2 mr-2" id="scrape" data-toggle="modal" data-target="#scrapeModal">Scrape New Articles</button>
        <a href="/saved">
            <button class="btn p-2" id="saved">View Saved Articles</button>
        </a>
    </nav>
    </div>
</header>
<div class="container">
{{!--     <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>Gossipmongo</h1>
        </div>
    </div> --}}
    <div class="col-md-12">
        {{#if articles}}
            {{#each articles}}
            {{#unless saved}}
            <div class="card">
                <div class="card-body">
                <div class="card-title">
                    <h4><a href="http://www.laineygossip.com{{this.link}}">{{this.title}}</a></h4>
                </div>
                <div class="card-text">
                    <p> {{this.summary}}</p>                    
                </div>
                
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success save-article mr-1" data-id={{this._id}}>Save Article</button>
                    <a href="http://www.laineygossip.com{{this.link}}" target="_blank"><button type="button" class="btn btn-primary">Full Article</button></a></div>
            </div>
            {{/unless}}
            {{/each}}
        {{else}}
        <div class="card">
            <div class="card-text">
            <h4>No articles at the moment.</h4>
            </div>
         </div>
        {{/if}}
    </div>
</div>


<div id="scrapeModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped new articles!</h2>
      </div>
    </div>
  </div>
</div>

<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request. Try again!</h2>
      </div>
    </div>
  </div>
</div>