<header class="">
    <h1>Gossipmongo</h1>
    <nav class="button-group navbar bg-dark">
        <a href="/"><button class="btn">Home</button></a>
        <button class="button-dark" id="scrape" data-toggle="modal" data-target="#scrapeModal">Scrape New Articles</button>
        <a href="/saved">
            <button class="button-dark" id="saved">View Saved Articles</button>
        </a>
    </nav>
</header>
<div class="container">
{{!--     <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>Gossipmongo</h1>
        </div>
    </div> --}}
    <div class="col-md-12">
        {{#if articles}}
            {{#each articles}}
            {{#unless saved}}
            <div class="card">
                <div class="card-title">
                    <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                </div>
                <div class="card-text">
                    <p> {{this.summary}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    <button type="button" class="btn btn-success save-article" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        {{else}}
        <div class="card">
            <div class="card-text">
            <h4>No articles at the moment.</h4>
            </div>
         </div>
        {{/if}}
    </div>
</div>


<div id="scrapeModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped new articles!</h2>
      </div>
    </div>
  </div>
</div>

<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request. Try again!</h2>
      </div>
    </div>
  </div>
</div>