<header class="">
    <div class="container">
    <h1>Gossipmongo</h1>
    <p>Scraping the latest Hollywood gossip from the infamous LaineyGossip website.</p>
    <nav class="button-group navbar d-flex justify-content-start">
        <a href="/"><button class="btn p-2 mr-2">Home</button></a>

        <a href="/saved">
            <button class="btn p-2" id="saved">View Saved Articles</button>
        </a>
    </nav>
    </div>
</header>
    

<div class="container">
            <h2 class="section-title">Saved Articles</h2>
    <div class="col-md-12">
        {{#if articles}} {{#each articles}} {{#if saved}}
        <div class="card">
            <div class="card-body">
            <div class="card-title">
                    <h4><a href="http://www.laineygossip.com{{this.link}}">{{this.title}}</a></h4>
                </div>
            <div class="card-text">
                <p> {{this.summary}}</p>

            </div>
            
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-success add-note" data-toggle="modal" data-target="#notemodal{{this._id}}" data-id="{{this._id}}">Add a Note</button>
                <button type="button" class="btn btn-danger delete-article" data-id="{{this._id}}">Delete</button>
                <a href="http://www.laineygossip.com{{this.link}}" target="_blank"><button type="button" class="btn btn-primary">Full Article</button></a>
                </div>
                
        </div>
        {{/if}} {{/each}} {{else}}
        <div class="card">
            <div class="card-text">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<!--Modals-->
{{#each articles}}
<div class="modal fade modalNote" id="notemodal{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Notes for {{this.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body" id="note-view{{this._id}}">
                    </div>
                </div>
                <div class="form-group">
                    <textarea id="note-text{{this._id}}" class="form-control" rows="4" placeholder="New Note"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-note" data-id="{{this._id}}">Save Note</button>
            </div>
        </div>
    </div>
</div>
{{/each}}